.App {
  color: #fff;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  color: #222;
  background-color: #fff;
  max-width: 400px;
  padding: 20px;

}